<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/670b72cb66.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <p id="notice"><%= notice %></p>

            <nav>
              <% if user_signed_in? %>
                <%= form_with url: search_path, method: :get, local: true do %>
                  <%= text_field_tag :query, params[:query] %>
                  <%= select_tag :category, options_for_select([['User', 'user'], ['Book', 'book']], selected: params[:category]) %>
                  <%= submit_tag "Search" %>
                <% end %>
              <% end %>
            </nav>
          </div>
        </div>
        <%= yield %>
      </div>
  
    <%= render 'layouts/footer' %>
  </body>
</html>
